<div>

    <h2 class="productTitle">Poll - {{currentPoll.name}}</h2>
    <!--table>
        <tbody ng:repeat="product in products">
        <tr><td>{{i.name}}</td><td>{{$index}}</td></tr>
        <tr ng:repeat="e in i.examples"><td>{{e.name}}</td><td>{{$index}}</td></tr>
        </tbody>
    </table-->


    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="scoreIt()">
            <span class="glyphicon glyphicon-flag"></span> Score!
        </button>
    </div>
</div>
