<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body">
        <h3>No changes made. Are you sure?</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close('ok')">OK</button>
        <button class="btn btn-warning" ng-click="$dismiss('cancel')">Cancel</button>
    </div>
</script>

<div>
    <div ng-if="isFetched" ng-switch="isFinished()" >
        <div ng-switch-when="false">
            <h2  >{{score.productA.name}} vs. {{score.productB.name}}</h2>
            <p>{{score.value}}</p>
            <progress ng-click="onProgressBarClicked($event)">
                <bar value="getProductAPercentValue()" type="info" />
                <bar value="getProductBPercentValue()" type="warning" />
            </progress>
        </div>
        <div ng-switch-when="true">
            <h2>Thank you for voting!</h2>
        </div>
    </div>
</div>
