<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body">
        <h3>No changes made. Are you sure?</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close('ok')">OK</button>
        <button class="btn btn-warning" ng-click="$dismiss('cancel')">Cancel</button>
    </div>
</script>

<div>
    <div ng-if="isFetched" ng-switch="isFinished()" >
        <div ng-switch-when="false">
            <div class="row">
                <div class = "col-sm-5">
                    <div class=" panel panel-info">
                        <div class="panel-heading">
                            <h1 class="panel-title text-center">{{score.productA.name}}</h1>
                        </div>
                        <div class="panel-body">
                            Score: {{getProductAScore()}}
                        </div>
                    </div>
                </div>

                <div class = "col-sm-2 text-center" > <h2>vs.</h2> </div>
                <div class = "col-sm-5">
                    <div class=" panel panel-warning">
                        <div class="panel-heading text-center">
                            <h1 class="panel-title text-strong">{{score.productB.name}}</h1>
                        </div>

                        <div class="panel-body">
                            Score: {{getProductBScore()}}
                        </div>
                    </div>
                </div>
            </div>
                <progress ng-click="onProgressBarClicked($event)">
                    <bar value="getProductAPercentValue()" type="info" />
                    <bar value="getProductBPercentValue()" type="warning" />
                </progress>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-1">
                    <label class="btn btn-info" ng-click="productAUp()">+</label>
                </div>

                <div class="col-sm-4"></div>
                <div class="col-sm-1">
                    <label class="btn btn-warning" ng-click="productBUp()">+</label>
                </div>

                <div class="col-sm-3"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="completeScore()">
                    <span class="glyphicon glyphicon-flag"></span> Next!
                </button>
            </div>
        </div>
        <div ng-switch-when="true">
            <h2>Thank you for voting!</h2>
        </div>
    </div>
</div>
